
div.css-1fv8s86.e16nr0p34{

    color:black;
    font-family: cursive;
    
}
button.css-5uatcg.edgvbvh10{

    background-color: #587391;
}


span.css-10trblm.e16nr0p30 {
    color:black;
    font-weight: bolder;
    
}

div.css-183lzff.eyqtai90{
    color: black;
    font-weight: bolder;
    font-family: Verdana;
}

header.css-1avcm0n.e8zbici2{

    background-color:  rgba(66, 27, 27, 0.925)
}

section.css-1vencpc.e1fqkh3o11{

    background-color:  #33343b;
}

div.css-1yy6isu.e16nr0p34{
        color: black;
        font-weight: bolder;
        font-family: Verdana;
}

